<header class=" px-32 py-3">
  <div class="flex justify-between items-center">
    <div class=" flex gap-4 items-center  font-bold"><img src="assets/z.png"  width="50px" alt="">Manuel Zuta</div>
    <div class="flex space-x-8 txt nav-items">
      <span class=" hover:text-slate-400">Sobre mi</span>
      <span class=" hover:text-slate-400">Hobbie</span>
      <span class="hover:text-slate-400">Formación</span>
      <span class=" hover:text-slate-400">Proyectos</span>
      <span class="hover:text-slate-400"><strong>alemanuel36@gmail.com</strong></span>
    </div>
  </div>
</header>
