.container {
  width: 80%;
  margin: 2em 0 0 10%;
}

.Who {
  padding-top: 2em;
  width: 75%;
  font: 700 32px 'Raleway', serif;
}

.img-who {
  width: 30%;
  clip-path: circle(45%);
}


img {
  height: auto;
}

.txt {
  width: 11em;
  white-space: nowrap;
  overflow: hidden;
  font: 2em monospace;
}

.description p{
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #464646;
  margin: 1em 0;
}.social {
   font: 500 16px/19px 'Raleway', serif;
   color: #464646;
 }
.social a:hover {
  color: #000;
}
.fa-arrow-up {
  transform: rotate(45deg);
  margin-left: 1em;
}
.container_about {
  width: 100%;
  min-height: 350px;
  height: auto;
  background: #EAF2FD;
}
.about {
  margin-left: 10%;
  width: 60%;
  padding: 5em 0;
  color: #464646;
}
.about h1 {
  font: 700 32px/38px 'Raleway', serif;
}
.about p {
  font: 400 16px/19px 'Raleway', serif;
  padding: 1em 0;
}

.container_skills {
  background: #F5F5F5;
}

.icons_skills {
  display: grid;
  grid-auto-rows: 15rem;
  grid-template-columns: repeat(auto-fill, minmax(11rem, 2fr));
  gap: 1rem;
  margin: 0 10%;
  width: 80%;
}

.skills_s {
  text-align: center;
  width: 100%;
}
.card {
  background: #fff;
  height: 150px;
  width: 150px;
}
.skills_s h1{
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #464646;
  padding: 1em 0;
}
.card i{
  color: #2A7AE4;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;

}
.card span{
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.container_experience{
  width: 100%;
  background: #EAF2FD;
  height: auto;
}
.experience_box{
  width: 80%;
  margin-left: 10%;
}
.txt-web {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}
.btn1, .btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  border: 2px solid #2A7AE4;
  border-radius: 2px;
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-top: .5em;
  cursor: pointer;
}
.btn1 {
  color: #2A7AE4;
  background-color: white;
}

.btn2 {
  color: white;
  background-color: #2A7AE4;
}

.btn1:hover{
  background: #eeeded;
}
.btn2:hover{
  background: #4b7fc4;
}

.txt-web >h1{
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #464646;
  margin-top: .5em;
}
.txt-web >h2{
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #464646;
  margin-top: .5em;
}
.contenedor {
  position: relative;
  display: inline-block;
}

.contenedor img {
  height: auto;
  display: block;
}

.superposicion {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(35, 34, 34);
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 0.5s ease-in-out; /* Transición suave de opacidad */
  display: flex;
  align-items: center;
  justify-content: center;
}
.superposicion h1{
  color :#2A7AE4;
  font-size: 30px;

}
.superposicion h2{
  color : #797979;
  margin: 1em 0;
}

.contenedor:hover .superposicion {
  opacity: 1; /* Mostrar la superposición al hacer hover en el contenedor */
}
.superposicion button {
  background-color: #2A7AE4; /* Color de fondo del botón */
  color: #fff ; /* Color de texto del botón */
  padding: .8rem 3rem; /* Espacio interior del botón */
  border: none;
  border-radius: 4px;
  font-size: 16px;
  position: relative;
  overflow: hidden;
}
.superposicion >button::before {
  content: "";
  position: absolute;
  background-color: rgba(107, 164, 239, 0.5);
  top: 0;
  left: 150%;
  width:100%;
  height: 100%;
  transform: skewX(-45deg);
  transition: transform 0.5s ease-out;
}

.superposicion button:hover::before {
  transform: skewX(0deg);
  left: 0;
}
.container_experience h1{
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #464646;
  padding-top: 1em;
}

.contact-container{
  width: 100%;
  background: #F5F5F5;
}
.contact-box {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 1em;
}
.contact-form h1 {
  font-family: 'Raleway', serif;
  font-style: normal;
  font-size: 32px;
  line-height: 38px;
  padding-top: 1em;
  color: #464646;
}
.contact-form h2{
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #464646;
}
.form-control {
  position: relative;
  margin-bottom: 2rem;
}
.box-form{
  margin-top: 2rem;
}

label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1rem;
  color: #999;
  pointer-events: none;
  transition: all 0.2s ease-out;
}

input:focus + label, input:not(:placeholder-shown) + label, textarea:focus + label, textarea:not(:placeholder-shown) + label {
  top: -1.5rem;
  font-size: 0.9rem;
  color: #2A7AE4;
}

input, textarea {
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid #ddd;
  outline: none;
  width: 100%;
}

input:focus, textarea:focus {
  border-bottom: 2px solid #2A7AE4;
}

textarea {
  resize: none;
  height: 5rem;
}
.btn-enviar {
  display: block;
  margin: 1rem auto 0;
  padding: .5rem 1rem;
  font-size: 1rem;
  color: #fff;
  background-color: #2A7AE4;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}

.btn-enviar:hover {
  background-color: #1F5BBF;
}

@media (max-width: 1250px) {
  .img-who {
    width: 30%;
    clip-path: circle(35%);
  }
  .img-who img{
    width: 200px;
  }
  .who{
    width: 65%;
    font: 700 22px 'Raleway', serif;
  }
  .img-who img{
    margin-top: 3em;
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 1000px) {
  .img-who {
    width: 30%;
    clip-path: circle(40%);
  }

  .who{
    width: 65%;
    font: 700 22px 'Raleway', serif;
  }
  .txt {
    width: 10em;
    white-space: nowrap;
    overflow: hidden;
    font: 2em monospace;
  }
  .container{
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (max-width: 800px){
  .experience_box{
    flex-direction: column;
    gap: 0;
  }
  .txt-web{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    padding-bottom: 20px;
  }
  .contact-box{
    display: flex;
    flex-direction: column;
  }

}
  @media (max-width: 600px) {
  .txt {
    width: 10.5em;
    white-space: nowrap;
    overflow: hidden;
    font: 1em monospace;
  }
  .container{
    display: flex;
    flex-direction: column-reverse;
  }
  .img-who img{
    margin: 0;
    width: 150px;
    height: 150px;
  }

  .img-who {
    width: 50%;
    clip-path: circle(45%);
  }
  .container{
    margin-top: 0;
  }
  .Who{
    padding-top: 0;
    width: 100%;
  }
  .social {
    font: 500 11.5px/19px 'Raleway', serif;
    color: #464646;
  }
  .about{
    width: 80%;
  }
  .icons_skills{
    grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
  }
    .superposicion{
      display: none;
    }
   .container_experience h1{
     font-size: 20px;

   }
}


@media(max-width: 450px){
  .icons_skills{
    grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
  }
}

@media (max-width: 395px) {
  .txt {
    width: 10.5em;
    white-space: nowrap;
    overflow: hidden;
    font: 1em monospace;
  }
  .container{
    display: flex;
    flex-direction: column-reverse;
  }
  .img-who img{
    margin: 0;
    width: 150px;
    height: 150px;
  }

  .img-who {
    width: 50%;
    clip-path: circle(45%);
  }
  .container{
    margin-top: 0;
  }
  .Who{
    padding-top: 0;
    width: 100%;
  }
  .social {
    font: 500 11.5px/19px 'Raleway', serif;
    color: #464646;
  }
  .about{
    width: 80%;
  }
  .icons_skills{
    grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
  }
  .superposicion{
    display: none;
  }
  .container_experience h1{
    font-size: 20px;

  }
}

