<div class="container flex">
  <div class="Who">
   <h1>Hola, mi nombre es Manuel Zuta y soy: </h1>
    <div class="txt">
      <ngx-typed-js [strings]="['Frontend Developer', 'Desarrollador WEB']" [shuffle]="true" [typeSpeed]="100">
       <span class="typing"></span>
      </ngx-typed-js>
    </div>
    <div class="description">
      <p>Soy un joven desarrollador web peruano y actualmente estoy participando del proyecto Oracle ONE en Alura Latam.</p>
    </div>
    <div class="social  flex gap-4">

        <a href="https://github.com/Mulder8vidas" target="_blank"><i class="fa-brands fa-github"></i> Github<i class="fa-solid fa-arrow-up ico"></i></a>
        <a href="https://www.linkedin.com/in/manuel-alejandro-zuta-moya-536601146/" target="_blank"><i class="fa-brands fa-linkedin "></i> Linkedin<i class="fa-solid fa-arrow-up ico"></i></a>
        <a href="https://www.facebook.com/manualejandro.zuta/" target="_blank"><i class="fa-brands fa-square-instagram "></i> Instagram<i class="fa-solid fa-arrow-up ico"></i></a>
        <button (click)="openPdf()"><i class="fa-solid fa-file"></i> Curriculo<i class="fa-solid fa-arrow-up ico"></i></button>

    </div>
  </div>
  <div class="img-who flex justify-center align-center">
    <img src="assets/perfil.jpg"  alt="perfil_dev">
  </div>


</div>
<section id="about_me">
  <div class="container_about">
    <div class="about">
      <h1>Sobre mi</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium assumenda consequuntur deleniti, eius esse eveniet excepturi incidunt itaque molestiae quaerat quis rem tempora unde ut vero. Dolorem ducimus recusandae rerum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias fuga libero molestiae molestias nam quam recusandae sit tempora tempore. Asperiores assumenda beatae dignissimos illo labore minus nesciunt pariatur sed ut!</p>
    </div>
  </div>
</section>
<section id="skills">
  <div class="container_skills ">
    <div class="skills_s  ">
    <h1>Skills</h1>
    <div class="icons_skills ">
      <div class="card flex relative">
        <i class="fa-brands fa-html5 absolute bottom-6 left-0 p-4"></i>
        <span class="absolute bottom-0 left-0 p-4 inline-block" >Html 5</span>

      </div>
      <div class="card flex relative">
        <i class="fa-brands fa-js absolute bottom-6 left-0 p-4"></i>
        <span class="absolute bottom-0 left-0 p-4 inline-block" >JavaScript</span>

      </div>
      <div class="card flex relative">
        <i class="fa-brands fa-php absolute bottom-6 left-0 p-4"></i>
        <span class="absolute bottom-0 left-0 p-4 inline-block" >PHP</span>

      </div>
      <div class="card flex relative">
        <i class="fa-brands fa-node absolute bottom-6 left-0 p-4"></i>
        <span class="absolute bottom-0 left-0 p-4 inline-block" >Node JS</span>

      </div>
      <div class="card flex relative">
        <i class="fa-brands fa-react absolute bottom-6 left-0 p-4"></i>
        <span class="absolute bottom-0 left-0 p-4 inline-block" >React</span>

      </div>
      <div class="card flex relative">
        <i class="fa-brands fa-css3 absolute bottom-6 left-0 p-4"></i>
        <span class="absolute bottom-0 left-0 p-4 inline-block" >CSS</span>

      </div>
    </div>
    </div>
  </div>
</section>
<section id="hobbies">
  <div class="container_skills ">
    <div class="skills_s  ">
      <h1>Hobbies</h1>
      <div class="icons_skills ">
        <div class="card flex relative">
          <i class="fa-solid fa-heart absolute bottom-6 left-0 p-4"></i>
          <span class="absolute bottom-0 left-0 p-4 inline-block" >Deportes</span>

        </div>
        <div class="card flex relative">
          <i class="fa-solid fa-heart absolute bottom-6 left-0 p-4"></i>
          <span class="absolute bottom-0 left-0 p-4 inline-block" >Musica</span>

        </div>
        <div class="card flex relative">
          <i class="fa-solid fa-heart absolute bottom-6 left-0 p-4"></i>
          <span class="absolute bottom-0 left-0 p-4 inline-block" >Jugar</span>

        </div>
        <div class="card flex relative">
          <i class="fa-solid fa-heart absolute bottom-6 left-0 p-4"></i>
          <span class="absolute bottom-0 left-0 p-4 inline-block" >Correr</span>

        </div>
        <div class="card flex relative">
          <i class="fa-solid fa-heart absolute bottom-6 left-0 p-4"></i>
          <span class="absolute bottom-0 left-0 p-4 inline-block" >Diseñar</span>

        </div>
        <div class="card flex relative">
          <i class="fa-solid fa-heart absolute bottom-6 left-0 p-4"></i>
          <span class="absolute bottom-0 left-0 p-4 inline-block" >Comer</span>

        </div>
      </div>
    </div>
  </div>
</section>
<section id="experience">
  <div class="container_experience text-center ">
    <h1>  Experiencia profesional</h1>
    <div class="experience_box flex gap-8">
      <div class="contenedor">
        <img src="assets/webEncriptador.jpg" width="750px" alt="">
        <div class="superposicion flex flex-col">
          <h1>Encriptador de Texto</h1>
          <h2>Html / CSS / JavaScript</h2>
          <button (click)="goToSite()">Ir a la página <i class="fa-solid fa-circle-chevron-right"></i></button>
        </div>
      </div>
      <div class="txt-web">
        <h1>Encriptador de texto</h1>
        <h2>Challlenge Oracle</h2>
        <div class="btn-exp flex  gap-8 justify-content ">
          <a class="btn1">Repositorio</a>
          <a href="https://portafolio-manuel-app.vercel.app/" class="btn2">Ver Demo</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="contact">
  <div class="contact-container">
    <div class="contact-box flex">

    <div class="img-contact">
      <img src="assets/5124556.png" width="450px" alt="">
    </div>
    <div class="contact-form">
      <h1>Contacto</h1>
      <h2>¿Quieres contactarme?</h2>
      <h2>Complete el siguiente formulario y me pondre en contacto  con usted lo antes posible</h2>
      <div class="box-form">
      <div class="form-control">
        <input type="text" id="nombre" name="nombre" placeholder=" " required>
        <label for="nombre">Nombre completo</label>
      </div>

      <div class="form-control">
        <input type="email" id="email" name="email" placeholder=" " required>
        <label for="email">Correo electrónico</label>
      </div>

      <div class="form-control">
        <input type="text" id="asunto" name="asunto" placeholder=" " required>
        <label for="asunto">Asunto</label>
      </div>

      <div class="form-control">
        <textarea id="mensaje" name="mensaje" placeholder=" " required></textarea>
        <label for="mensaje">Mensaje</label>
      </div>

        <button type="submit" class="btn-enviar">Enviar mensaje</button>

      </div>
    </div>
    </div>
  </div>
</section>

