<div class="container flex">
  <div class="Who">
   <h1>Hola, mi nombre es Manuel Zuta y soy: </h1>
    <div class="txt">
      <ngx-typed-js [strings]="['Frontend Developer', 'Desarrollador WEB']" [shuffle]="true" [typeSpeed]="100">
       <span class="typing"></span>
      </ngx-typed-js>
    </div>
    <div class="description">
      <p>Soy un joven desarrollador web peruano y actualmente estoy participando del proyecto Oracle ONE en Alura Latam.</p>
    </div>
    <div class="social  flex gap-4">

        <a href="#" target="_blank"><i class="fa-brands fa-github"></i> Github<i class="fa-solid fa-arrow-up"></i></a>
        <a href="#" target="_blank"><i class="fa-brands fa-linkedin"></i> Linkedin<i class="fa-solid fa-arrow-up"></i></a>
        <a href="#" target="_blank"><i class="fa-brands fa-square-instagram"></i> Instagram<i class="fa-solid fa-arrow-up"></i></a>
        <a href="#" target="_blank"><i class="fa-solid fa-file"></i> Curriculo <i class="fa-solid fa-arrow-up"></i></a>

    </div>
  </div>
  <div class="img-who flex justify-center">
    <img src="assets/perfil.jpg"  alt="perfil_dev">
  </div>


</div>
